////////////////////////////////////////////////////////
//	kaala.rc

#include <os2.h>
#include "defs.h"

ICON IDR_MAIN PRELOAD bermuda.ico

BITMAP BMP_F0 PRELOAD f0.bmp
BITMAP BMP_F1 PRELOAD f1.bmp
BITMAP BMP_F2 PRELOAD f2.bmp
BITMAP BMP_F3 PRELOAD f3.bmp
BITMAP BMP_F4 PRELOAD f4.bmp
BITMAP BMP_FCIRCLE PRELOAD fcircle.bmp
BITMAP BMP_SHIP PRELOAD ship.bmp
BITMAP BMP_MARK PRELOAD mark.bmp
BITMAP BMP_UNMARK PRELOAD unmark.bmp


MENU IDR_MAIN PRELOAD
	BEGIN
	SUBMENU	"~Game", IDM_GAME, MIS_TEXT
	BEGIN
		MENUITEM "~New", IDM_GAMENEW, MIS_TEXT
		MENUITEM	"~Settings ...", 	IDM_GAMESETTINGS, MIS_TEXT
		MENUITEM "~Highscores ...", IDM_GAMEHIGH, MIS_TEXT
	END
	SUBMENU	"~Help", IDM_HELP, MIS_TEXT
	BEGIN
		MENUITEM "Help ~index", IDM_HELPINDEX, MIS_TEXT
		MENUITEM "~General help", IDM_HELPGENERAL, MIS_TEXT
		MENUITEM "~Using help", IDM_HELPEXTENDED, MIS_TEXT
		MENUITEM "~Keys and Buttons help", IDM_HELPKEYS, MIS_TEXT
		MENUITEM SEPARATOR
		MENUITEM	"~Product information",	IDM_HELPPRODUCTINFO, MIS_TEXT
	END
END

/* helptable */

HELPTABLE HELP_TABLE
BEGIN
	HELPITEM IDR_MAIN, SUBHELP_MAIN, PANEL_MAIN
	HELPITEM IDR_GAMESETTINGSDLG, SUBHELP_GAMESETTINGSDLG, PANEL_GAME
	HELPITEM IDR_SHOWHIGHDLG, SUBHELP_SHOWHIGHDLG, PANEL_GAME
/*	HELPITEM IDR_HIGHSCOREDIALOG, SUBHELP_HIGHSCOREDIALOG, 
*/	HELPITEM IDR_PRODINFODLG, SUBHELP_PRODINFODLG, PANEL_AUTHOR
END

HELPSUBTABLE SUBHELP_MAIN
BEGIN
	HELPSUBITEM IDM_GAME, PANEL_GAME
	HELPSUBITEM IDM_GAMENEW, PANEL_GAME
	HELPSUBITEM IDM_GAMESETTINGS, PANEL_GAME
	HELPSUBITEM IDM_GAMEHIGH, PANEL_GAME
	HELPSUBITEM IDM_HELP, PANEL_HELP
	HELPSUBITEM IDM_HELPINDEX, PANEL_HELP
	HELPSUBITEM IDM_HELPGENERAL, PANEL_HELP
	HELPSUBITEM IDM_HELPEXTENDED, PANEL_HELP
	HELPSUBITEM IDM_HELPKEYS, PANEL_HELP
	HELPSUBITEM IDM_HELPPRODUCTINFO, PANEL_HELP
END

HELPSUBTABLE SUBHELP_GAMESETTINGSDLG
BEGIN
END

HELPSUBTABLE SUBHELP_SHOWHIGHDLG
BEGIN
END

/*
HELPSUBTABLE SUBHELP_HIGHSCOREDIALOG
BEGIN
END

*/

HELPSUBTABLE SUBHELP_PRODINFODLG
BEGIN
END

 
/* include dialog templates	*/

//rcinclude dialog.dlg
rcinclude bermuda.dlg

/* rcinclude help.rc*/
